page-profile {
  ion-input{
    margin-left: 5rem !important;
  }
  ion-content{
    ::-webkit-scrollbar {
      display: none;
    }
  }
  .color-change {
    background-image: url("../assets/imgs/hop_inn.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
    padding-bottom: 6rem;
  }
  .profile-img{
    margin-top: 3rem;
    width: 30%;
  }
  .info-list{
    font-family: 'Roboto';
    font-weight: lighter;
  }
}
