page-my-rides {

  ::-webkit-scrollbar {
    display: none;
  }

  .days-of-week{
    font-size: 1rem !important;

    .dow-yes{

      color: #488aff;
    }
  }

  .owner{

    background-color: #f1f1f1
  }
}
